/* --- HEADER --- */

header {
    height: 122px;
    background-color: #134f5c;
}

.inner-head {
    max-width: 2880px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    height: 120px;
    position: relative;
    box-sizing: border-box;
}

/* --- LOGO --- */

.navbar-brand img {
  height: 75px;
  width: auto;
  margin-top: 5px;
}

/* --- NAVIGATION --*/

.nav {
  float: right;
  margin: 28px 0;
}

.navbar-default {
    background-color: #134f5c;
    border-color: #134f5c;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 26px;
  padding-left: 20px;
  letter-spacing: 1px;
  margin-top: 3px;
}

.nav a:hover {
  color: #2498b1;
  font-weight: bold;
}

.nav .current {
  color: #2498b1;
  font-weight: bold;
}
