body {
  font: 15px/1.5  "Titillium Web","Open Sans", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #222222;
  letter-spacing: .5px;
}

#portfolio .row {
    margin: 40px 0 10px 0;
}

#portfolio .thumbnail {
    box-shadow: 0 0 2rem #134f5c;
}

#portfolio h3 a .hd {
    display: inline-block;
    height: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#portfolio .cc_icon {
    display: inline-block;
    height: 25px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#portfolio h2 {
    text-transform: uppercase;
    color: #134f5c;
    font-weight: bold;
}

#portfolio h3 {
    text-transform: uppercase;
    color: #0a2b32;
    padding: 0 5px 0 5px;
}

#portfolio p {
    padding: 0 5px 0 5px;
}

#portfolio .btn {
    width: 50%;
    background: linear-gradient(#0a2b32, #134f5c);
}

#portfolio .btn:hover {
    background: linear-gradient(#134f5c, #2498b1);
}

#portfolio .resume {
    font-size: 32px;
    text-transform: uppercase;
    margin: 20px 0 40px 0;
    text-align: center;
    color: #0a2b32;
    font-weight: bold;
}

#portfolio .resume i {
    font-size: 50px;
    text-align: center;
    color: #134f5c;
    margin-right: 20px;
}
